<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
<div class='container'>
    <!-- etc... -->
    <!-- Collect the nav links, forms, and other content for toggling -->

    <ul>
        <li><a href='<span class="highlight">#/calendar</span>'>Calendar</a></li>
        <li><a href='<span class="highlight">#/bills</span>'>Bills</a></li>
        <li><a href='<span class="highlight">#/roommates</span>'>Roommates</a></li>
    </ul>
    <ul>
        <li><a href='<span class="highlight">#/home</span>'>Home</a>
    </ul>
</nav>
