html,
body {
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
}

.menu-bar {
    background-color: #CFCFCF;
}

#panel-finances-list h3,
#panel-bills-list h3,
#panel-roommate-list h3 {
    color: #0F99FF;
    text-align: center;
}

.nav-pills li {
    padding: 8px;
}
